bs4==0.0.1
Flask==1.0.2
Flask-Cors==3.0.7
gunicorn==19.9.0
h5py==2.9.0
html5lib==1.0.1
itsdangerous==1.1.0
Jinja2==2.10
Markdown==3.0.1
MarkupSafe==1.1.1
numpy==1.16.2
requests==2.21.0
Werkzeug==0.14.1
